@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Color Pallete */
.color {
  background-color: #000000;
  background-color: #212121;
  background-color: #bc4e00;
  background-color: #F7F6F3;
  background-color: #9f9f9f;
  background-color: #000000;
  background-color: #000000;
  background-color: #000000;
  background-color: #000000;
}

@theme {
  --color-dark: #040200;
  --color-light-dark: #2a2a2a;
  --color-light-orange: #bc4e00;
  --color-white-bg: #F7F6F3;
  --color-light-gray: #9f9f9f;
  --color-main: #000000;
  --color-main: #000000;
}

@layer components {
  .container {
    @apply mx-auto;
  }
}
@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Red Rose", serif;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
}
